@charset "UTF-8";

/* Menu Responsivo (MEDIA QUERIES)
Montar uma regra para telas de no maximo850px, a regra abaixo sera usada por essas telas.
Tamanhos maiores usarao a regra acima.
*/

@media(max-width: 850px){
    
    .iconlist{
        display: block;
        margin: 0;

    }


    .nav-menu{
        position: absolute;
        display: flex;
        flex-direction: column;

        font-size: 2rem;
        gap: 1.2rem;

        margin-top: -1100px;
        transition: .5s;

        transform: translate(-20px, 5px);

    }

    .mobile-menu{
        margin-top: 0;
    }

    .nav-title{
        position: absolute;
        margin-left: 80px;
        margin-top: 20px;
    }

    .nav-menu a{
        font-weight: 700;
        font-size: 1.5rem;
        color:var(--color-white);
        transition: .5s;
    }

}